

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 id="asd" class="display-4">Welcome</h1>
    <p>We warmly welcome you to our scholarship application tracking website</p>
</div>
