* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
    #sidebar.show-on-md {
        position: sticky;
        min-height: calc(100vh );
        min-height: calc(100svh );
        max-height: calc(100vh );
        max-height: calc(100svh);
        transform: none;
        visibility: visible !important;
        color: white;
        left: 0;
        flex-shrink: 0;
    }
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: var(--bs-dark)
}

    .nav-link:hover, .nav-link:focus {
        background-color: var(--bs-gray-100);
        color: #2c3e50;
    }

    .nav-link.active {
        background-color: rgb(var(--bs-primary-rgb), 0.1);
        font-weight: 600;
        color: rgb(var(--bs-primary-rgb));
    }

.parent-nav.active {
    background-color: rgb(var(--bs-primary-rgb), 0.05);
    font-weight: normal;
    color: var(--bs-dark);
}

.single-line {
    white-space: nowrap;
}

.min-full-height-inside-main-layout {
    min-height: calc(100vh - 57px - 3rem);
    min-height: calc(100svh - 57px - 3rem);
}

.main-content-container {
    max-width: calc(100% - 300px);
    flex-grow: 1;
}

@media (max-width: 768px) {
    .main-content-container {
        max-width: calc(100%);
        flex-grow: 1;
    }
}

.default-cursor {
    cursor: default;
}