<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" method="post">
    <div class="mb-2">
      <email-input [inputControl]="loginForm.controls.email"></email-input>
    </div>
    <div class="mb-2">
      <password-input
        [inputControl]="loginForm.controls.password"
      ></password-input>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <a routerLink="/account/forgot-password" class="link-primary"
        >Forgot Password !
      </a>
    </div>

    <div class="d-flex justify-content-center">
      <button
        loading-btn
        class="w-100 btn btn-primary"
        style="max-width: 250px"
        btnType="submit"
        [disabled]="isFormLoading()"
        [isLoading]="isFormLoading()"
        (click)="onSubmit($event)"
      >
        Log in
      </button>
    </div>
    <span
      class="invalid-feedback"
      [style.display]="showCaptchaUnverifiedError() ? 'inline-block' : 'none'"
      >Please verify captcha!</span
    >
    <div
      class="g-recaptcha mt-2 d-flex justify-content-center"
      [attr.data-sitekey]="captchaKey"
      data-callback="onCaptchaVerified"
    ></div>
  </form>
</div>
