<div class="d-flex flex-nowrap overflow-hidden">
  <aside
    id="sidebar"
    style="max-width: 300px"
    class="offcanvas offcanvas-start show-on-md"
  >
    <div class="offcanvas-header d-flex justify-content-between flex-nowrap">
      <a
        class="offcanvas-title text-primary text-decoration-none fw-bold single-line"
        asp-controller="Home"
        asp-action="Index"
        >Dashboard</a
      >
      <img src="./icon.png" width="40" height="40" />
    </div>
    <div class="offcanvas-body" style="padding: 0px !important">
      <moderator-side-nav></moderator-side-nav>
    </div>
  </aside>
  <div class="main-content-container">
    <nav class="navbar navbar-light bg-white border-bottom">
      <div class="container-fluid justify-content-start gap-2">
        <img
          class="d-md-none"
          title="STA logo"
          src="./icon.png"
          width="40"
          height="40"
        />
        <p class="navbar-brand mb-0">{{ title() }}</p>
        <div class="d-flex justify-content-end flex-grow-1 gap-2">
          <button class="btn btn-danger">Log out</button>
          <button
            class="btn btn-outline-primary d-md-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebar"
          >
            ☰ Menu
          </button>
        </div>
      </div>
    </nav>
    <main class="p-3">
      <router-outlet></router-outlet>
      <snackbar></snackbar>
      <action-dialog></action-dialog>
      <content-dialog></content-dialog>
    </main>
  </div>
</div>
