@model ForgotPasswordViewModel;

@{
	ViewBag.Title = "Forgot Password";
	ViewBag.Description = "Enter you email address below to get a reset password email";
}



<div>
	<form id="form" asp-controller="Account" asp-action="ForgotPassword" method="post">
		@Html.AntiForgeryToken()
		<div class="mb-3">
			<label asp-for="Email" class="form-label"></label>
			<input class="w-100 form-control mb-1" asp-for="Email" />
			<span class="invalid-feedback" asp-validation-for="Email"></span>
		</div>

		<div class="d-flex justify-content-center">
			<button id="form-btn" type="submit" class="btn btn-primary w-100" style="max-width: 250px">
				<span class="spinner-border spinner-border-sm visually-hidden mr-2" role="status" aria-hidden="true"></span>
				Confirm
			</button>
		</div>
	</form>
</div>
