@model ResetPasswordViewModel;

@{
	ViewBag.Title = "Reset Password";
	ViewBag.Description = "Enter you new Password";
}



<div>
	<form id="auth-form" asp-controller="Account" asp-action="ResetPassword" method="post">
		@Html.AntiForgeryToken()
		<div class="mb-2">
			<label asp-for="NewPassword" class="form-label"></label>
			<input class="w-100 form-control mb-1" type="password" asp-for="NewPassword" />
			<span class="invalid-feedback" asp-validation-for="NewPassword"></span>
		</div>

		<input type="hidden" asp-for="Token"/>

		<div class="mb-3">
			<label asp-for="ConfirmPassword" class="form-label"></label>
			<input class="w-100 form-control mb-1" type="Password" asp-for="ConfirmPassword" />
			<span class="invalid-feedback" asp-validation-for="ConfirmPassword"></span>
		</div>

		<div class="d-flex justify-content-center">
			<button id="form-btn" type="submit" class="btn btn-primary w-100" style="max-width: 250px">
				<span class="spinner-border spinner-border-sm visually-hidden mr-2" role="status" aria-hidden="true"></span>
				Reset
			</button>
		</div>

	</form>
</div>

@section Scripts {
	<script defer src="~/js/authentication/auth.js"></script>
}